@font-face {
	font-family: 'slider';
	src: url('./slide.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
}

x-post {
	width: 1280px;
	height: 720px;
	position: relative;
	overflow: hidden;
	display: block;
}

x-post iframe {
	margin-top: -200px;
}

x-subs {
	--shadow-core: rgba(0, 0, 0, 0.5);
	--shadow-outline: rgba(0, 0, 0, 0.25);
	filter: blur(0.25px);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10% 0;
	color: #cfe4e9;
	font-family: 'slider', sans-serif;
	font-size: 24px;
	font-weight: 300;
	pointer-events: none;
	text-align: center;
	opacity: 0.9;
	line-height: 1.4;
	letter-spacing: 0.05em;
	transform: scaleX(0.8);
	text-shadow: 1px 0 2px var(--shadow-outline), -1px 0 2px var(--shadow-outline),
		0 1px 2px var(--shadow-outline), 0 -1px 2px var(--shadow-outline),
		0 -2px 4px var(--shadow-core);
}
